.center {
  text-align: center;
}
.printBox {
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
  border: 1px solid #333;
}
.update {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
