@import '~antd/es/style/themes/default.less';

.newsPage {
  :global {
    .ant-modal-title {
      text-align: center;
    }
    .ant-modal-title h1 {
      margin: 0 20px;
      line-height: 35px;
    }
    .ant-modal-body p {
      margin-top: 30px;
      line-height: 30px;
    }
    .ant-modal-body img {
      max-width: 100%;
    }
    .ant-list-pagination {
      padding-right: 10px;
    }
    .ant-card-head-title {
      display: -webkit-box;
      height: 70px;
      white-space: normal;
      word-break: break-all;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
