@import '~antd/es/style/themes/default.less';

.votelist {
  :global {
    .ant-form-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
    }
    .ant-list-item {
      display: flex;
      justify-content: center;
    }
    .ant-form-item-label {
      width: 110px;
      padding: 0 15px;
    }
    .ant-input-affix-wrapper-disabled {
      background-color: #fff;
    }
    .ant-input-affix-wrapper {
      padding: 10px 0;
      border: 0 solid;
    }
    .ant-input {
      color: #4b4b4b;
      font-size: 30px;
      text-align: center;
      background: #fff;
    }
    .ant-input-suffix {
      display: none;
    }
  }
}
