@import (reference) '~antd/es/style/themes/index';

.sidebar {
  display: none;
  margin-right: 0;
}

@media (min-width: @screen-md-min) {
  .menu {
    display: none;
  }
  .sidebar {
    display: block;
    height: 88vh;
    margin-right: 16px;
    overflow: auto;
  }
}
