@import (reference) '~antd/es/style/themes/index';

.rowdragging {
    background: #fafafa;
    border: 1px solid #ccc;
}

.rowdragging td {
    padding: 16px;
}

.rowdragging .dragvisible {
    visibility: visible;
}

.topRow {
    background-color: #fafafa;
}