 .page{
  background-color: white;
  min-height: 100vh;
 }
 @media screen and (min-width: 500px) {
       
      #app {
        width: 500px;
        margin: 0 auto;
        background-color: #eff2f5;
        min-height: 100vh;
        padding:0 5px;
      }

      #app .van-popup--bottom {
        width: 500px;
        left: 50%;
        margin-left: -250px;
      }
      
      
  }
 /* 搜索栏样式 */
.searchBox{
  display: flex;flex-direction: row;background: white;align-items: center;
}
.searchBox .btn{
    background-color: #1989fa;width: calc(var(--van-cell-font-size)*4);color: white;padding: 0 calc(var(--van-cell-vertical-padding)*0.4);
          font-size: var(--van-cell-font-size);border-radius: 10%;margin-right: calc(var(--van-cell-vertical-padding)*0.4);height: calc(var(--van-cell-font-size)*2.5);
          display: flex;align-items: center;justify-content: center;
  }

/* tab */
.mytab .van-tab--card {
        color: #666;
        background-color: white;
        border: none;
        font-size: calc(var(--van-cell-font-size)*var(--big))!important;
        border-right: 1px solid rgb(238, 238, 238);
    }

  .mytab .van-tabs__wrap {
      height: calc(var(--van-cell-font-size)*3);
  } 
  .mytab .van-tabs__nav .van-tabs__nav--card{
    height:calc(var(--van-cell-font-size)*3);
  }
  .mytab .van-tabs__nav--card {
      box-sizing: border-box;
      margin: 0 ;
      border: 1px solid rgb(238, 238, 238);
      border-radius: var(--van-border-radius-sm);
      height: calc(var(--van-cell-font-size)*3);
      padding: 0;
      
  }
  
  .mytab .van-tab__text--ellipsis {
      display: -webkit-box;
      overflow:inherit;
      -webkit-box-orient: vertical;
  }
  .mytab .van-tab--card.van-tab--active {
    background-color: #F1F1F1;
  }

